<!DOCTYPE HTML>
<html lang="en">
    <head>
        <link type="text/css" rel="stylesheet" href="../static/css/plugins.css">
        <link type="text/css" rel="stylesheet" href="../static/css/color.css">
        <link type="text/css" rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
        <div class="swiper-slide">
            <div class="testi-item fl-wrap">
                <div class="testimonilas-text fl-wrap">
                    <h3>Hi Nestsleepers Team,</h3>
                    <p>You have a new client  {{sender}} who is wants to talk to you about  {{subject}}.<br><br> Reach out to them by emailing them on {{email}} or call them on {{phone}}.<br><br> The client left this message: <br><br> {{sms}}</p>
                </div>
            </div>
        </div>
        <script src="../static/js/jquery.min.js"></script>
        <script src="../static/js/plugins.js"></script>
        <script src="../static/js/scripts.js"></script>
    </body>
</html>