{%extends "base.html" %}
{% block content %}
<!-- content-->
<div class="content">
    <!--fixed-column-wrap-->
    <div class="fixed-column-wrap init_fx-column">
        <!--fixed-column-wrap-content-->
        <div class="fixed-column-wrap-content">
            <div class="fixed-column-wrap_bg">
                <div class="bg" data-bg="../static/images/folio/1.jpg"></div>
                <div class="overlay"></div>
                <div class="hero-scroll-down-notifer  ">
                    <div class="scroll-down-wrap ">
                        <div class="mousey">
                            <div class="scroller"></div>
                        </div>
                    </div>
                </div>
                <div class="fixed-column-dec"></div>
            </div>
            <!--fixed-column-wrap_title-->
            <div class="fixed-column-wrap_title">
                <h2><span>Our Portfolio</span></h2>
            </div>
            <!--fixed-column-wrap_title end-->
            <div class="scroll-notifer">Scroll Down</div>
            <!-- arrow nav -->
            <!-- arrow nav end-->
            <div class="fwc-dec fwc-dec_top"></div>
            <div class="fwc-dec fwc-dec_right"></div>
            <div class="fixed-column-wrap_dec"></div>
        </div>
        <!--fixed-column-wrap-content end-->
    </div>
    <!--fixed-column-wrap end-->
    <!--column-wrap-->
    <div class="column-wrap" id="port-scroll">
        <!--column-wrap-container -->
        <div class="column-wrap-container white-bg fl-wrap ">
            <div class="col-wc_dec"></div>
            <div class="col-wc_dec col-wc_dec2"></div>
            <!--section-->
            <section class="sc_padd">
                <div class="container">

                    <!-- gallery-items-->
                    <div class="gallery-items two-column  min-pad fl-wrap">
                        <!-- gallery-item -->
                        <div class="gallery-item   design  construction">
                            <div class="grid-item-holder">
                                <img src="../static/images/folio/39.JPG" alt="">
                                <div class="grid-det">
                                    <div class="grid-det_category"><a href="#">Standard Package </a> <a href="#">Sleeper
                                            Installation</a></div>
                                    <a href="../static/images/folio/39.JPG" class="grid-media-zoom   image-popup"><i
                                            class="far fa-search"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- gallery-item end-->
                        <!-- gallery-item -->
                        <div class="gallery-item  interior design">
                            <div class="grid-item-holder">
                                <img src="../static/images/folio/2.JPG" alt="">
                                <div class="grid-det">
                                    <div class="grid-det_category"><a href="#">AC</a> <a href="#">System
                                            Installation</a></div>
                                    <a href="../static/images/folio/2.JPG" class="grid-media-zoom   image-popup"><i
                                            class="far fa-search"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- gallery-item end-->
                        <!-- gallery-item -->
                        <div class="gallery-item  interior houses construction">
                            <div class="grid-item-holder">
                                <img src="../static/images/folio/12.JPG" alt="">
                                <div class="grid-det">
                                    <div class="grid-det_category"><a href="#">Comfort Package</a> <a href="#">Sleeper
                                            Installation</a></div>
                                    <a href="../static/images/folio/12.JPG" class="grid-media-zoom   image-popup"><i
                                            class="far fa-search"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- gallery-item end-->
                        <!-- gallery-item -->
                        <div class="gallery-item    houses construction">
                            <div class="grid-item-holder">
                                <img src="../static/images/folio/4.JPG" alt="">
                                <div class="grid-det">
                                    <div class="grid-det_category"><a href="#">Standard Package</a> <a href="#">Sleeper
                                            Installation</a></div>
                                    <a href="../static/images/folio/4.JPG" class="grid-media-zoom   image-popup"><i
                                            class="far fa-search"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- gallery-item end-->
                        <!-- gallery-item -->
                        <div class="gallery-item  interior houses construction">
                            <div class="grid-item-holder">
                                <img src="../static/images/folio/15.JPG" alt="">
                                <div class="grid-det">
                                    <div class="grid-det_category"><a href="#">Comfort Package</a> <a href="#">Sleeper
                                            Installation</a></div>
                                    <a href="../static/images/folio/15.JPG" class="grid-media-zoom   image-popup"><i
                                            class="far fa-search"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- gallery-item end-->
                        <!-- gallery-item -->
                        <div class="gallery-item  design">
                            <div class="grid-item-holder">
                                <img src="../static/images/folio/32.JPG" alt="">
                                <div class="grid-det">
                                    <div class="grid-det_category"><a href="#">Standard Package</a> <a href="#">Sleeper
                                            Installation</a></div>
                                    <a href="../static/images/folio/32.JPG" class="grid-media-zoom   image-popup"><i
                                            class="far fa-search"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- gallery-item end-->
                        <!-- gallery-item -->
                        <div class="gallery-item   design">
                            <div class="grid-item-holder">
                                <img src="../static/images/folio/14.JPG" alt="">
                                <div class="grid-det">
                                    <div class="grid-det_category"><a href="#">Standard Package</a><a href="#">Sleeper
                                            Installation</a>
                                    </div>
                                    <a href="../static/images/folio/14.JPG" class="grid-media-zoom   image-popup"><i
                                            class="far fa-search"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- gallery-item end-->
                        <!-- gallery-item -->
                        <div class="gallery-item     construction">
                            <div class="grid-item-holder">
                                <img src="../static/images/folio/8.JPG" alt="">
                                <div class="grid-det">
                                    <div class="grid-det_category"><a href="#">Comfort Package</a> <a href="#">Sleeper
                                            Installation</a>
                                    </div>
                                    <a href="../static/images/folio/8.JPG" class="grid-media-zoom   image-popup"><i
                                            class="far fa-search"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- gallery-item end-->
                        <!-- gallery-item -->
                        <div class="gallery-item  interior   ">
                            <div class="grid-item-holder">
                                <img src="../static/images/folio/9.JPG" alt="">
                                <div class="grid-det">
                                    <div class="grid-det_category"><a href="#">Standard Package</a> <a href="#">Sleeper
                                            Installation</a>
                                    </div>
                                    <a href="../static/images/folio/9.JPG" class="grid-media-zoom   image-popup"><i
                                            class="far fa-search"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- gallery-item end-->
                        <!-- gallery-item -->
                        <div class="gallery-item   design">
                            <div class="grid-item-holder">
                                <img src="../static/images/folio/10.JPG" alt="">
                                <div class="grid-det">
                                    <div class="grid-det_category"><a href="#">Standard Package</a> <a href="#">Sleeper
                                            Installation</a>
                                    </div>
                                    <a href="../static/images/folio/10.JPG" class="grid-media-zoom   image-popup"><i
                                            class="far fa-search"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- gallery-item end-->
                        <!-- gallery-item -->
                        <div class="gallery-item     interior">
                            <div class="grid-item-holder">
                                <img src="../static/images/folio/11.JPG" alt="">
                                <div class="grid-det">
                                    <div class="grid-det_category"><a href="#">Duluxe Package</a> <a href="#">Sleeper Installation</a>
                                    </div>
                                    <a href="../static/images/folio/11.JPG" class="grid-media-zoom   image-popup"><i
                                            class="far fa-search"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- gallery-item end-->
                        <!-- gallery-item -->
                        <div class="gallery-item  interior   houses">
                            <div class="grid-item-holder">
                                <img src="../static/images/folio/6.JPG" alt="">
                                <div class="grid-det">
                                    <div class="grid-det_category"><a href="#">Standard Package</a> <a href="#">Sleeper Installation</a>
                                    </div>
                                    <a href="../static/images/folio/6.JPG" class="grid-media-zoom   image-popup"><i
                                            class="far fa-search"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- gallery-item end-->
                    </div>
                    <!-- end gallery items -->
                </div>
            </section>
            <!-- section-->
            <section class="dark-bg   order-wrap order-wrap_small">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <h3>Ready to Order your Project ?</h3>
                        </div>
                        <div class="col-md-4"><a href="contacts.html" class="btn flat-btn  transparent-btn  ajax">Get In
                                Touch</a> </div>
                    </div>
                </div>
            </section>
            <!-- section end-->
        </div>
        <!--column-wrap-container end-->
    </div>
    <!--column-wrap end-->
    <div class="limit-box fl-wrap"></div>
</div>
<!-- content end  -->
{%endblock%}